.logo {
  width: 100%;
  height: 6%;
}

.logo img {
  width: 200px;
  height: 40px;
}

table {
  width: 100%;
}

.vehicleDetails td {
  vertical-align: top;
  width: 1px;
}

p {
  font-size: small;
}

ul li {
  font-size: small;
}

.accessories p {
  font-weight: bold;
}

.damages p {
  font-weight: bold;
}

.damages td {
  width: 100px;
  vertical-align: top;
  padding-bottom: 20px;
}

.damages table {
  page-break-inside: avoid;
}

.canvas {
  width: 50%;
}

.canvas img {
  width: 350px;
  height: 327px;
  position: absolute;
  margin-left:50px;
}

.observationsAndComments h4 {
  margin: 0.3em;
}

.observationsAndComments td {
  vertical-align: top;
}

.observationsAndComments span {
  font-size: .6em;
}

.footer {
  page-break-inside: avoid;
}

.footer tr {
  width: 100%;
}

.footer td {
  width: 50%;
}

.footer td:last-child {
  text-align: center;
  vertical-align: middle;
}

.footer img {
  width: 100px;
  height: 100px;
  position: absolute;
}

.footer td p {
  text-align: center;
  margin-top: -10px;
}

.isTimeExceeded {
  color: red;
}